.subscribe-button {
  background-color: rgb(200, 0, 0);
  color: white; 
  border: none;
  height: 33px; 
  width: 110px;
  border-radius: 2px;
  cursor: pointer; 
  margin-right: 9px; 
  transition: opacity 0.15s;
  vertical-align:bottom ;
}
.subscribe-button:hover {
  opacity: 0.8;
}
.subscribe-button:active {
  opacity: 0.4;
}

.join-button{
  background-color: white;
  color: rgb(55, 84, 218);
  border-color: rgb(37, 67, 197);
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  margin-right: 9px; 
  transition: opacity 1s, color 0.3s;
  vertical-align:bottom ;
}
.join-button:hover{
  background-color: rgb(55, 84, 218);
  color: white;
  border: none;
}
.join-button:active{
  transition: opacity 0.3;
}

.tweet-button{
  background-color: rgb(47, 149, 232);
  color: white; 
  width: 67px; 
  height: 33px; 
  border-radius: 20px; 
  border: none; 
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  transition: box-shadow 0.15s;
  vertical-align:bottom ;
}
.tweet-button:hover {
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.18);
}
.tweet-button:active {
  opacity: 0.3;
}
